langchain
langchain-ollama
langchain-community
langchain-text-splitters
chromadb
pytest
pytest-mock
datasets
ragas
langchain
langchain-groq
langchain-huggingface
langchain-community

sentence-transformers
python-dotenv